/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'PT Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: $bodyColor;
  background-color: $white;
  font-weight: 400;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
