<div class="leftPanel">
  <!-- Logo placeholder -->
  <div class="logo">
    <a ng-href="/new">Rozie Logo</a>
  </div>

  <!-- Navigation links -->
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span>
            <img src="../../assets/images/ic_chat.png" alt="" />
          </span>
          <span>Conversation Review</span>
        </a>
      </li>
      <li>
        <a class="activeMenu" href="#">
          <span>
            Transcripts
          </span>
          <span class="rightArrow">
            <img src="../../assets/images/ic_combined.png" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Unknown Requests</span>
          <span class="rightArrow">
            <img src="../../assets/images/ic_combined.png" alt="" />
          </span>
        </a>
      </li>
    </ul>
  </div>

  <!-- User Profile -->
  <div class="userProfile">
    <span class="profileImg">
      <img src="../../assets/images/Oval.png" alt="" />
    </span>
    <span>Prescott MacCaffery</span>
    <span class="rightArrow">
      <img src="../../assets/images/ic_combined.png" alt="" />
    </span>
  </div>
</div>
