<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .appContainer {
    display: flex;
  }
  .pageContent {
    position: relative;
    padding-top: 70px;
    width: calc(100% - 220px);
  }
  .user-table {
    padding: 30px;
  }
</style>

<div class="appContainer">
  <app-sidenav></app-sidenav>
  <div class="pageContent" role="main">
    <!-- header -->
    <app-header></app-header>
    <div class="user-table">
      <app-usertable></app-usertable>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
